In [38]:
## Estudos de Imóveis
import pandas as pd

## 1. Selecione somente os imóveis classificados com tipo "Apartamento"

In [132]:
dados = pd.read_csv("dados_residencial.csv", sep =";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [133]:
tipo_imovel_apartamento = ["Apartamento"]

In [134]:
tipo_imovel_apartamento

['Apartamento']

In [135]:
filtro = dados["Tipo"].isin(tipo_imovel_apartamento)

In [136]:
filtro

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [137]:
imoveis_tipo_apartamento = dados[filtro]

In [138]:
imoveis_tipo_apartamento

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [139]:
imoveis_tipo_apartamento.shape[0]

19532

## 2. Selecione os imóveis classificados com tipo "Casa", "Casa de Condomínio" e "Casa de Vila"

In [140]:
tipos = dados["Tipo"]
tipos

0          Quitinete
1               Casa
2        Apartamento
3        Apartamento
4        Apartamento
            ...
22575    Apartamento
22576      Quitinete
22577    Apartamento
22578    Apartamento
22579    Apartamento
Name: Tipo, Length: 22580, dtype: object

In [141]:
tipos = tipos.drop_duplicates()
tipos

0              Quitinete
1                   Casa
2            Apartamento
6     Casa de Condomínio
85          Casa de Vila
Name: Tipo, dtype: object

In [142]:
tipo_imovel_casas = ["Casa", "Casa de Condomínio", "Casa de Vila"]

In [143]:
tipo_imovel_casas

['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [144]:
filtro = dados["Tipo"].isin(tipo_imovel_casas)

In [145]:
filtro

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [146]:
imoveis_tipo_casas = dados[filtro]

In [147]:
imoveis_tipo_casas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22545,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [148]:
## Segunda forma de fazer:

In [149]:
selecao = (dados["Tipo"] == "Casa") | (dados["Tipo"] == "Casa de Condomínio") | (dados["Tipo"] == "Casa de Vila")

In [150]:
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [151]:
qtd_imoveis_tipo_casa = dados[selecao].shape[0]

In [152]:
qtd_imoveis_tipo_casa

2212

## 3. Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [153]:
imoveis_entre_60_100 = (dados["Area"] >= 60) & (dados["Area"] <= 100)

In [157]:
dados[imoveis_entre_60_100].shape[0]

8719

## 4. Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [161]:
imoveis = (dados["Quartos"] >= 4) & (dados["Valor"] < 2000)

In [162]:
dados[imoveis].shape[0]

41