In [1]:
import pandas as pd

## Series

In [2]:
data = [1,2,3,4,5,6,7,8,9]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
index = [ str(i) + ". Linha: " for i in range(9)]

In [6]:
index

['0. Linha: ',
 '1. Linha: ',
 '2. Linha: ',
 '3. Linha: ',
 '4. Linha: ',
 '5. Linha: ',
 '6. Linha: ',
 '7. Linha: ',
 '8. Linha: ']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

0. Linha:     1
1. Linha:     2
2. Linha:     3
3. Linha:     4
4. Linha:     5
5. Linha:     6
6. Linha:     7
7. Linha:     8
8. Linha:     9
dtype: int64

In [15]:
data = {"Valor: " + str(i) : i + 1 for i in range (9)}

In [16]:
data

{'Valor: 0': 1,
 'Valor: 1': 2,
 'Valor: 2': 3,
 'Valor: 3': 4,
 'Valor: 4': 5,
 'Valor: 5': 6,
 'Valor: 6': 7,
 'Valor: 7': 8,
 'Valor: 8': 9}

In [25]:
s = pd.Series(data)

In [26]:
s

Valor: 0    1
Valor: 1    2
Valor: 2    3
Valor: 3    4
Valor: 4    5
Valor: 5    6
Valor: 6    7
Valor: 7    8
Valor: 8    9
dtype: int64

In [27]:
s1 = s + 2

In [28]:
s1

Valor: 0     3
Valor: 1     4
Valor: 2     5
Valor: 3     6
Valor: 4     7
Valor: 5     8
Valor: 6     9
Valor: 7    10
Valor: 8    11
dtype: int64

## DataFrame

In [30]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [31]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
df1 = pd.DataFrame(data)

In [33]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [45]:
index = ["Linha " + str(i) + (": ") for i in range(3)]

In [46]:
index

['Linha 0: ', 'Linha 1: ', 'Linha 2: ']

In [47]:
df1 = pd.DataFrame(data = data, index = index)

In [48]:
df1

           0  1  2
Linha 0:   1  2  3
Linha 1:   4  5  6
Linha 2:   7  8  9

In [53]:
columns = ["Coluna " + str(i) + ": " for i in range(3)]

In [54]:
columns

['Coluna 0: ', 'Coluna 1: ', 'Coluna 2: ']

In [56]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [57]:
df1

           Coluna 0:   Coluna 1:   Coluna 2:
Linha 0:            1           2           3
Linha 1:            4           5           6
Linha 2:            7           8           9